<form class="mt-4" name="container-form" method="post" action="/admin/courses/handle-action-form-trash">
    <div>
      <a href="/admin/me/stored/courses">Trở lại</a>
      <h2>Danh sách đã xóa</h2>
    </div>

    <div class="mt-4 d-flex align-items-center">

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
      </div>

      <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
        <option value="">--- Thực hiện ---</option>
        <option value="delete">Xóa vĩnh viễn</option>
        <option value="patch">Khôi phục</option>
      </select>

      <button class="btn btn-primary btn-submit-form-check" disabled>Thực hiện</button>

    </div>

    <table class="table table-hover mt-4">
    <thead>
        <tr>
        <th scope="col" colspan="2">STT</th>
        <th scope="col">Khóa học</th>
        <th scope="col">Slug</th>
        <th scope="col" colspan="2">Mô tả</th>
        </tr>
    </thead>
    <tbody>
        {{#each coursesNew}}
        <tr>
        <td> 
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}" >
          </div>
        </td>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.slug}}</td>
        <td>{{this.des}}</td>
        <td>
            <a href="" class="btn-restore-course" data-id="{{this._id}}">Khôi phục</a>
            <a href="" data-toggle="modal" data-target="#delete-course-modal" data-id="{{this._id}}">Xóa vĩnh viễn</a>
        </td>
        </tr>
        {{else}}
        <td colspan="5" class="text-center">Thùng rác trống.</td>
        {{/each}}
    </tbody>
    </table>
</form>


{{!-- modal delete course --}}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div  class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa bỏ khóa học</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Khóa học sẽ không thể khôi phục lại.Bạn có muốn xóa khóa học này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-course" class="btn btn-danger">Xóa vĩnh viễn</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-id="123">Hủy</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-course-form" method="POST" ></form>
<form name="restore-course-form" method="POST" ></form>

<script>
    //DOMContentLoaded: khi DOM load hết nội dung 
    document.addEventListener('DOMContentLoaded', function() {
        var courseId;
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var btnRestoreCourse = $('.btn-restore-course');
        var deleteForm = document.forms['delete-course-form'];
        var restoreForm = document.forms['restore-course-form'];

        //checkall item
        var containerForm = $('form[name="container-form"]');
        var checkboxAll = $('#checkbox-all');
        var courseItem = $('input[name="courseIds[]"]');
        var checkAllSubmitBtn = $('.btn-submit-form-check');


        //Lắng nghe sự kiện để truyền id lên modal
        $('#delete-course-modal').on('show.bs.modal', function (event) {
          //relatedTarget:nhận diện phần tử mà con trỏ chuột rời 
          //khỏi hoặc đi vào khi sự kiện được kích hoạt.
            var button = $(event.relatedTarget); 
            courseId = button.data('id'); 
        })

        //Click Xóa bỏ => update action của form => submit form
        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/admin/courses/' + courseId + '/force?_method=DELETE';
            deleteForm.submit();
        }
        btnRestoreCourse.click(function (e) {
            //Khi load lại không bị mất cái id lấy từ nút Khôi phục
            e.preventDefault();//bỏ hành vi mặc định của thẻ <a>

            var restoreId = $(this).data('id');
            restoreForm.action = '/admin/courses/' + restoreId + '/restore?_method=PATCH';
            restoreForm.submit();
        }) 


        //checkAllItemSubmit

        checkboxAll.change(function () {
            var isCheckboxAll = $(this).prop('checked');
            courseItem.prop('checked', isCheckboxAll);
            renderCheckAllSubmitBtn();
        })

        courseItem.change(function () {
            var isCourseItem = courseItem.length === $('input[name="courseIds[]"]:checked').length;
            checkboxAll.prop('checked', isCourseItem);
            renderCheckAllSubmitBtn();
        })

        function renderCheckAllSubmitBtn() {
            var countsCheck = $('input[name="courseIds[]"]:checked').length;
            if(countsCheck){// countsCheck > 0
              checkAllSubmitBtn.attr('disabled', false); //jquery => bỏ disabled 
            }else{
              checkAllSubmitBtn.attr('disabled', true);
            }
        }
        

    })
</script>